<h1>Listing symptoms</h1>
<%= link_to 'New symptom', new_symptom_path %>


<table>
  <tr>
    <th>Область</th>
    <th>Симптом</th>
    <th>Лечение</th>
  </tr>
 
  <% @symptoms.each do |symptom| %>
    <tr>
      <td><%= symptom.title1 %></td>
      <td><%= symptom.title2 %></td>
      <td><%= symptom.text %></td>
      <td><%= link_to 'Show', symptom_path(symptom) %></td>
      <td><%= link_to 'Edit', edit_symptom_path(symptom) %></td>
      <td><%= link_to 'Destroy', symptom_path(symptom),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p> <%= link_to "На главную", welcome_index_path %></p>