
<%= render 'formhead' %>

<h1>Добавление нового симптома в базу</h1>

<%= render 'form' %>
 
<%= link_to 'Назад', symptoms_path %>
</br>
</br>
<%= link_to 'На главную', welcome_index_path %>

<%= render 'formbottom' %>
