<%= render 'formhead' %>

<h1>Рекомендуемое лекарство</h1>

<%=@symptom.text%>
</br>
<h1>ММН лекарства</h1>

<%=@symptom.mmn%>
</br>
</br>
<h1>Узнать лекарства с таким же ММН (платная функция)</h1>
<i>Для этого перейти в раздел об авторах, выбрать способ связи и оставить заявку. С вами свяжутся незамедлительно.</i>
</br>
</br>
<p> <%= link_to "К определению симптомов", symptoms_firsthelp_path %> </p>
<p> <%= link_to "На главную", welcome_index_path %></p>

<%= render 'formbottom' %>