<h1>Боли в груди</h1>
<p>	<%= link_to "Болезни сердца", welcome_hearth_path %></p>
<p>	<%= link_to "Болезни 
позвоночника", welcome_nape_path %></p>
<p>	<%= link_to "Болезни легких", welcome_spine1_path %></p>
<p>	<%= link_to "Болезни мышц
 грудной клетки", welcome_muscle_path %></p>

<p>	<%= link_to "Назад", welcome_body_path %></p>