<h1>Головная боль</h1>
<p>	<%= link_to "Боль в висках", welcome_whiskey_path %></p>
<p>	<%= link_to "Боль в затылке", welcome_nape_path %></p>
<p>	<%= link_to "Боль в 
глазных яблоках", welcome_eye_path %></p>
<p>	<%= link_to "Боль в скулах", welcome_cheekbone_path %></p>

<p>	<%= link_to "Назад", welcome_body_path %></p>