<h1>Боли в ногах</h1>
<p>	<%= link_to "Варикозная болезнь", welcome_veins_path %></p>
<p>	<%= link_to "облитерирующий атеросклероз сосудов нижних конечностей", welcome_vessels_path %></p>
<p>	<%= link_to "Подагра", welcome_joints_path %></p>
<p>	<%= link_to "Артрозы и артриты", welcome_arthrosis_path %></p>

<p>	<%= link_to "Назад", welcome_body_path %></p>