<h1>Боль в теле</h1>
<p>	<%= link_to "Головные боли", welcome_head_path %></p>
<p>	<%= link_to "Боль в шее", welcome_neck_path %></p>
<p>	<%= link_to "Боль в груди", welcome_chest_path %></p>
<p>	<%= link_to "Боль в животе", welcome_stomach_path %></p>
<p>	<%= link_to "Боли в ногах", welcome_legs_path %></p>
<p>	<%= link_to "Боли в пояснице", welcome_loin_path %></p>

<p>	<%= link_to "На главную", welcome_index_path %></p>