<h1>Боль в животе</h1>
<p>	<%= link_to "Заболевания 
желудка", welcome_belly_path %></p>
<p>	<%= link_to "Заболевания 
кишечника", welcome_intestines_path %></p>
<p>	<%= link_to "Заболевания 
печени", welcome_liver_path %></p>
<p>	<%= link_to "Заболевания 
поджелудочной 
железы", welcome_cancer_path %></p>

<p>	<%= link_to "Назад", welcome_body_path %></p>